doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Place favicon.ico in the root directory
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
  body
    <!--[if lt IE 8]>
    p.browserupgrade
      | You are using an
      strong outdated
      |  browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    <![endif]-->
    #root
    //- Google Analytics: change UA-XXXXX-Y to be your site's ID.
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    script(src='https://www.google-analytics.com/analytics.js', async='', defer='')
